In [1]:
import numpy as np

In [2]:
def sigmoid(S):
    return 1 / ( 1 + np.exp(-S))

In [5]:
w1 = 0
b1 = 0

def loss_function(l_r, y, x):
    w2 = w1 - l_r * ()

0.04742587317756678

In [162]:
class logistic_regression:
    
    def __init__(self, num_of_iterations, learning_rate):
        self.no_of_iterations = num_of_iterations
        self.learning_rate = learning_rate
    
    def fit(self, X, Y):
        self.X = X
        self.Y = Y
        self.m, self.n = X.shape
        
        self.w = np.zeros(self.n)
        self.b = 0
        for i in range(self.no_of_iterations):
            self.update_weights()
        
    
    def update_weights(self):
        
        Y_sigmoid = 1 / (1 + np.exp(- ( np.dot(self.X, self.w)  + self.b)))
       
    
        dw = (1/self.n) * np.dot(self.X.T, (Y_sigmoid - self.Y))
        db = (1/self.n) * np.sum(Y_sigmoid - self.Y)
        
        self.w = self.w - self.learning_rate * dw
        self.b = self.b - self.learning_rate * db
    
    def predict(self, X):
        Y_pred =  1 / (1 + np.exp( - (np.dot(X, self.w) ) + self.b ))
        Y_pred = np.where( Y_pred > 0.5, 1, 0)
        return Y_pred

In [135]:
X = np.array([[0.50, 0.75, 1.00, 1.25, 1.50, 1.75, 1.75, 2.00, 2.25, 2.50, 
              2.75, 3.00, 3.25, 3.50, 4.00, 4.25]])
y = np.array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1])

In [72]:
X_test = np.array([[4.50, 4.75, 5.00, 5.50]])
y_test = np.array([1, 1, 1, 1])

In [129]:
print(X.shape)

(16,)

In [163]:
lr_model = logistic_regression(100, 0.01)
lr_model.fit(X.T, y)

In [137]:
print(X_test)

[[4.5  4.75 5.   5.5 ]]

In [164]:
lr_model.predict(X_test.T)

array([1, 1, 1, 1])

In [28]:
from sklearn.model_selection import train_test_split

In [31]:
import pandas as pd

In [32]:
data = pd.read_csv('data/train.csv')

In [33]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q